<h1>Listing buddies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Address</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @buddies.each do |buddy| %>
  <tr>
    <td><%= buddy.name %></td>
    <td><%= buddy.email %></td>
    <td><%= buddy.address %></td>
    <td><%= buddy.user %></td>
    <td><%= link_to 'Show', buddy %></td>
    <td><%= link_to 'Edit', edit_buddy_path(buddy) %></td>
    <td><%= link_to 'Destroy', buddy, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Buddy', new_buddy_path %>
